<a href="https://colab.research.google.com/github/cccg8105/notebook_AD/blob/master/template%20Series%20temporales/ARMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modelo autoregresivo de medias móviles

$$ X_{t} = \varphi_{1} X_{t-1}+\vartheta_{1}\varepsilon_{t-1} + \varepsilon_{t} + C$$

Considera para la predicción tanto el valor de periodos anteriores, como los errores o residuos de periodos pasados.

ARMA(P, Q)

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.graphics.tsaplots as sgt
import statsmodels.tsa.stattools as sts
from statsmodels.tsa.arima_model import ARMA
from scipy.stats.distributions import chi2 
from math import sqrt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
sns.set()

#Prueba Logverosimilitud
def LLR_test(mod_1, mod_2, DF = 1):
    L1 = mod_1.llf
    L2 = mod_2.llf
    LR = (2*(L2-L1))    
    p = chi2.sf(LR, DF).round(3)
    return p

# carga de archivo
raw_csv_data = pd.read_csv("https://raw.githubusercontent.com/cccg8105/curso-series-temporales/master/7.%20ARMA%20autorregresivos%20de%20medias%20moviles/Python/Index2018.csv")
dateColumnName = "date"
analizedValue = "ftse"

# Formateo de dataset
df_comp=raw_csv_data.copy()
print(raw_csv_data.head(5))
df_comp.date = pd.to_datetime(df_comp[dateColumnName], dayfirst = True)
df_comp.set_index(dateColumnName, inplace=True)
df_comp=df_comp.asfreq('b')
df_comp=df_comp.fillna(method='ffill')
df_comp['analizedValue']=df_comp[analizedValue]

# data frame para analizar
df_comp.head(5)

         date     spx      dax     ftse    nikkei
0  07/01/1994  469.90  2224.95  3445.98  18124.01
1  10/01/1994  475.27  2225.00  3440.58  18443.44
2  11/01/1994  474.13  2228.10  3413.77  18485.25
3  12/01/1994  474.17  2182.06  3372.02  18793.88
4  13/01/1994  472.47  2142.37  3360.01  18577.26

               spx      dax     ftse    nikkei  analizedValue
date
1994-01-07  469.90  2224.95  3445.98  18124.01        3445.98
1994-01-10  475.27  2225.00  3440.58  18443.44        3440.58
1994-01-11  474.13  2228.10  3413.77  18485.25        3413.77
1994-01-12  474.17  2182.06  3372.02  18793.88        3372.02
1994-01-13  472.47  2142.37  3360.01  18577.26        3360.01