<a href="https://colab.research.google.com/github/cccg8105/notebook_AD/blob/master/Frecuencia%20inscripciones/Analisis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## Analisis de la frecuencia de inscripciones

In [6]:
import pandas as pd 
import numpy as np


raw_csv_data = pd.read_csv("https://raw.githubusercontent.com/cccg8105/notebook_AD/master/Frecuencia%20inscripciones/data/conversionesPE.csv")

In [9]:
raw_csv_data.head()

   Unnamed: 0 FechaConsultora FuenteIngreso  cantidad  Pais
0           1        26/08/19       MovilGZ        33  Perú
1           2        10/03/19   CALL CENTER         1  Perú
2           3        04/11/19       MovilGZ        30  Perú
3           4        13/02/19            UB        31  Perú
4           5        04/11/19   CALL CENTER         4  Perú